.nav-link{
    color: white !important;
}
.nav-item{
    color: white !important;
}
.nav-item a{
    color: white !important;
}
.container-f h1{
    margin: 15px 0;
    font-family: CNN,Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
    font-weight: 300;
    color: #1a1a1a;
    font-size: 52px;
}
.container-f{
    width: 75%;
    margin: auto;
}
.img-big {
    position: relative;
    cursor: pointer;
  }
.img-big img{
  height: 100% !important;
}
.img-big-text{
position: absolute;
bottom: 0;
background-color: rgba(255, 255, 255, 0.755);
width: 100%;
padding: 5px;
font-family: CNN,Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
font-weight: normal !important;
height: 79px;
font-size: 2rem;
line-height: 1.13333;
}
.p-border-top p{
    border-top: 1px solid #ccc;
    padding: 5px 0;
    font-size: 19px;
    margin: 0;
    cursor: pointer;
    font-family: CNN,Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
}
.btn-none{
    outline: none;
    border: none;
}
 p:hover{
color: rgb(154, 50, 50);
}
img:hover{
    cursor: pointer;
}